
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="Dhruv Sangvikar">
  <link rel="icon" href="{{url_for('static',filename='img/favicon.png')}}">

  <title>RoboCode</title>

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/tankanimation.css')}}" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('index')}}">RoboFoundry</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    {% if not session.logged_in %}
                    <a href="{{url_for('login')}}">Sign In</a></li>
                    {% else %}
                    <a href="{{ url_for('logout') }}">Sign Out</a>
                    {% endif %}
                    


                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Settings</li>
                    <li><a target='_blank' href="{{ session.uaa }}">My Account</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
          <h1>Login to RoboFoundry</h1>
          <p>Login to RoboFoundry using your CloudFoundry credentials.</p>
          <p>
            <a href="{{url_for('login')}}" class="social-button" id="cloudfoundry-login"> <span>Login with CloudFoundry</span></a>
          </div>
        </p>
      </div>

      <!-- Tank animation -->
<!--       <div class="wrapper">
        <div class="top">
          <div class="star"></div>
        </div>
        <div class='explosion'></div>
        <div class="middle"></div>
        <div class="bottom">
          <ul class="wheels">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        </div>
        
      </div>
      <div class="floor"></div> -->
      <!-- End of tank animation -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
      <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <script type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    </body>
    </html>
